.book-card {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  height: 200px;
  width: 300px;
  background-color: aliceblue;
  box-shadow: 3px 3px 3px rgb(51, 51, 51);
  text-align: center;
  border-radius: 10px;
  background-color: rgb(167, 162, 162);
}
p,
h6 {
  color: black;
  text-align: center;
  margin: 10px;
}
.image-header {
  width: 120px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-body {
  text-align: center;
  height: 180px;
  width: 180px;
  padding-top: 20px;
}
