.current-read {
  position: relative;
  width: 100%;
  height: 280px;
  top: 0;
  background-color: rgb(97, 97, 97);
}
.task-header {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgb(59, 59, 59);
}
.current-list {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
}
