.header-container {
  position: relative;
  width: 100%;
  height: 300px;
  color: white;
  background-image: url("https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-title {
  line-height: 100px;
  margin: 0;
  font-size: 40px;
  text-shadow: 3px 3px 3px grey;
}
