.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.671);
}
.popup-inner {
  position: relative;
  min-width: 300px;
  width: 350px;
  background: white;
  margin: 0 auto;
  margin-top: 250px;
  padding: 30px 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
}
.input-fields {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}
.submit-btn {
  display: block;
  margin: auto;
}
.form-header {
  text-shadow: 2px 2px 2px gray;
}
